# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# dotenv environment variable files
.env.local
.env.*.local

# Cache and Backup files
.cache/
/backup/credentials/*
!/backup/credentials/19E4EDClqDklWGL1.json
!/backup/credentials/INrTklNY4SJgEa0f.json
