apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
spec:
  template:
    spec:
      containers:
        - name: n8n
          image: registry.local:5000/n8n:latest
          imagePullPolicy: Always
