apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  template:
    spec:
      containers:
        - name: postgres
          image: registry.local:5000/postgres:latest
          imagePullPolicy: Always
